<div class="editor-box">
    <div class="row top">
  <div class="col-md-3 title">编辑简历</div>
  <div class="col-md-9 action"><a ng-click="refresh(resume)" ng-href="#resume">Return Home</a></div>
</div>
    <div ng-show="resume.show" class="pad40">
    <center>
    <p>Password is not entered or not valid. Please return home, enter the correct password and edit.</p>
    </center>
</div>
    <form name="adminForm" role="form" ng-hide="resume.show">
        <div class="settings form-inline">
            <div class="form-group">
        <input type="text" class="form-control" id="title" name="title" placeholder="Resume title" ng-model="resume.title">
      </div>
            <div class="form-group">
        <input type="text" class="form-control" id="subtitle" name="subtitle" placeholder="resume subtitle" ng-model="resume.subtitle">
      </div>
            <div class="form-group">
        <label for="admin_password">Manage Password</label>
        <input type="password" class="form-control" id="admin_password" name="admin_password" placeholder="Enter new password if you want to change the password" ng-model="resume.admin_password" ngMinlength="4" ngMaxlength="8" >
      </div>
            <div class="form-group">
        <label for="view_password">view password</label>
        <input type="password" class="form-control" name="view_password" id="view_password" name="view_password" placeholder="Please enter at least 4 alphanumeric character as the password to view the CV." ng-model="resume.view_password" ngMinlength="4" ngMaxlength="8" >
         <span style="color:red" ng-show="adminForm.view_password.$dirty && adminForm.view_password.$invalid">
  </span>
      </div>
            <button type="submit" class="btn btn-default" ng-click="save(resume)" >Save</button>
        </div>
        <div class="row earea">
            <div class="col-md-6">
                <textarea class="editor" name="content" ng-model="resume.content" id="edit_area" ></textarea>
            </div>
            <div class="col-md-6">
                <div class="preview yue" id="editor-preview" ng-bind-html="resume.content | wizMarkdownFltr"></div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function()
      {
        var h = $(window).height() - 135 + 'px';
        $('#edit_area').css('height', h );
        $('#editor-preview').css('height', h );
      });
</script>