  <header class="site-head">
    <div class="vertical">
      <h1 id="drtitle">{{resume.title}}</h1>
      <p class="subtitle" id="drsubtitle">{{resume.subtitle}}</p>
    </div> 
  </header>  
  <div class="content yue" id="cvcontent" ng-bind-html="resume.content | wizMarkdownFltr" ng-show="resume.show==1">
  </div>  
  <div class="content passbox" ng-show="resume.show==0">
    <center>
    <p>This CV is protected by password, please enter password and continue.</p>
    <div class="input-group passinput">
      <input type="password" class="form-control" name="vpass" ng-model="vpass">
      <span class="input-group-btn">
        <button class="btn btn-default " type="button" ng-click="password(vpass)">Confirm</button>
      </span>
    </div><!-- /input-group -->
  </center>
  </div>  

  <div class="action-bar hidden-xs">
  <a href="#"><img src="image/home.png" /></a>
  &nbsp;&nbsp;&nbsp;<a href="#" onclick="makepdf()" title="PDF format"><img src="image/book.png" /></a>
  <span ng-show="resume.local!=1">&nbsp;&nbsp;&nbsp;<a ng-href="/admin" ><img src="image/cog.png" /></a></span>
  </div> 